/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-checkbox, .nav-toggle{
    display: none;
}

.hero{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0, 0, 0, 0.6)), url("../../assets/img/shen_long_esferas.jpg") no-repeat fixed bottom / cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1{
    color: #fff;
    font-size: 60px;
    line-height: 1;

}

.hero h3{
    color: #fff;
    font-size: 26px;
    font-weight: normal;
    margin: 15 px 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    transition: background-color 0.5s ease;
}

.logo h2{
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
}

.nav-menu li{
    display: inline-block;
}

.nav-menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 15px;

}

.nav-menu li a:hover{
    color: rgba(229, 207, 16, 0.973);
     
}

.active{
    background: rgb(80, 128, 249)
}

/*una funcionalidad que no se bien para que me sirve
.active a:hover{ 
    background:  rgb(80, 128, 249) !important;
}*/

@media only screen and (max-width: 650px){
    header{
        display: block;
    }

    .logo{
        margin-left: 15px;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        cursor: pointer;
        margin: 0 1rem;
        top: 25px;
        right: 0;
    }

    .nav-toggle img{
        width: 25px;
    }

    .close,
    input[type='checkbox']{
        display: none;
    }

    #nav-checkbox:checked ~ .nav-menu{
        background: rgb(80, 128, 249);
        margin-top: 10px ;
        padding: 10px 0;
        border-top: 1px solid rgba(229, 207, 16, 0.973);
    }

    .nav-menu li{
        display: none;
        margin: 10px 0;
    }

    #nav-checkbox:checked ~ ul.nav-menu li{
        display: block;
    }
    #nav-checkbox:checked ~ label.nav-toggle .open{
        display: blo;
    }
    
}



.cloud {
    background-image: url('/client/src/assets/img/cloud.jpg'); /* Imagen de la nube */
    width: 100px;
    height: 60px;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#inicio:hover #nube, #registrate:hover #nube {
    opacity: 1;
    animation: seguimiento 1s linear forwards;
}

@keyframes seguimiento {
    0% {
        transform: translateY(0) scale(0.8);
    }
    100% {
        transform: translateY(-50px) scale(1);
    }
}

#nube:hover {
    animation: movimiento 2s infinite alternate ease-in-out;
}

@keyframes movimiento {
    0% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}
/*aca nimacion de el dragon*/ 

.shenlong-profile {
    position: relative;
    animation: shenlong-move 20s linear infinite; /* 20s para una rotación más rápida */
}

.logo {
    max-width: 100%; /* Ajusta el tamaño máximo según tus necesidades */
}

@keyframes shenlong-move {
    0% {
        transform: translateX(0) ;
    }
    45% {
        transform: translateX(100%); /* Mueve la imagen hacia la derecha sin rotación */
    }
    50% {
        transform: translateX(100%)
    }
    100% {
        transform: translateX(100%) 
    }
}
