section{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contenedor-padre{
    border: 1px solid black;
    width: 80%;
    height: 1000px;
    border-top: 5px solid rgb(221, 221, 43) ;
}
.contenedor-padre .gogetaimg{
width: 100px;
height: 200px;
}

.contenedor-img img{
height: 100px;
width: 100px;
position: relative;
top: -40px;
right: 40px;
}
.contenedor-img .nube{
    width: 60px;
    height: 30px;
    position: relative;
    top: -85px;
    left: 920px;
}
.gokuC{
    position: absolute;
    left: 900px;
    height:650px ;
}
.colecionGogeta{
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-left: 15px;
}
.colecionGogeta img{
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin-top: 10px;
}
.contenerdor-img{
    border: 3px solid black;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    margin-left: 80px;
    margin-top: 60px;
}
.gokuPequeño{
    width: 150px;
    height: 200px;
    position: relative;
    top: -100px;
    left: 300px;
}
.contenedor-Prducto{
    display: flex;
}
.contenerdor-img div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenerdor-img div img{
    margin-top: -130px;
    width: 350px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos generales */


/* Estilos del botón */
.dragon-ball-button {
    background-color: #FF0000; /* Rojo (color de Dragon Ball Z) */
    border: none;
    color: #fff; /* Texto en blanco */
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: background-color 0.3s, transform 0.3s;
}

.dragon-ball-button:hover {
    background-color: #FFA500; /* Cambia a naranja en el hover */
    transform: scale(1.05); /* Escala un poco en el hover */
}

.dragon-ball-button::before {
    content: " ";
    background-image: url('../../assets/img/esfera4Estrellas.png'); /* Imagen de Dragon Ball Z */
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: -60px;
    transform: scale(0);
    transition: transform 0.3s;
}

.dragon-ball-button:hover::before {
    transform: scale(1);
}

.comic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    margin-left: 190px;
    border: 2px solid #000; 
    width: 700px; 
    margin-top: -200px;
}

.comic-container img {
    width: 300px; 
    height: auto;
    margin-right: 10px;
}

.comic-container p {
    font-size: 16px;
    color: #000; 
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.4;
}

.comic-container p::before {
    content: "¡";
    font-size: 36px;
    color: #DB0000; 
}

.comic-container p::after {
    content: "!";
    font-size: 36px;
    color: #DB0000; 
}
.datos{
    width: 60px;
    height: 60px;
    position: relative;
    right: 70px;
    top: -60px;
}
.datos img {
    width: 100px;
    height: 100px;
}
.img-datos-border img{
    width: 150px;
    opacity: 1;
    position: relative;
    left: 850px;
}