section{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
div img{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}
@media only screen and (max-width: 650px){
    .gohan{
        display: none;
    }
    .vegito{
        display: none;
    }
}