<footer>

    <div class="container__footer">
        <div class="box__footer">

            <div class="logo">
                <img src="" alt="">
            </div>
            <div class="terms">
                <p>"Hicimos esta app pensando en mejorar nuestro servicio y tratar de llegar a más rincones del mundo... Atentamente, Figuras Dragon Ball."</p>
            </div>
        </div>
        <div class="box__footer">
            <h2>Soluciones</h2>
            <a href="https://www.google.com">App Desarrollo</a>
            <a href="#">fasilitar ventas</a>
            <a href="#">puedes buscar tu figura tranquilamente</a>
            <a href="#">la expreinecia</a>
        </div>


        <div class="box__footer">
            <h2>Redes Sociales</h2>
            <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
            <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
            <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
            <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
        </div>

    </div>

    <div class="box__copyright">
        <hr>
        <p>Todos los derechos reservados © 2023 <b>Figuras dragon ball <img class="esfera" src="https://i.pinimg.com/originals/7a/7f/76/7a7f76ea01702078582a1ae8b7344fb3.png" alt=""></b></p>
    </div>
</footer>
